/** 
 * Style for Android application.
 * @version 1.0
 */

application{
	
}
 

applicationBars{
	background-color:"#B71C1C";
	status-bar-color:"#C62828";
}

applicationBars.transparent{
	background-color:"Transparent";
	status-bar-color:"Transparent";
}
 
input{

}

inputtitle{

}
  
InputReadOnly{
	
}  

button{

}
  
grid{
	
}  

gridRow{
	
}

gridRowEven{
	
}

gridRowOdd{
	
}

horizontalLine{
	
}

image{
	
}

label{
	
}

sdPageController{
	
}

tab{
	
}

tabPage{
	
}

tabPageSelected{
	
}

tabPageUnSelected{
	
}

table{
 	
}
