/** 
 * Style for Android application.
 * @version 1.0
 */

application{
	
}
 
applicationBars{
	background-color:"#32a3cb";
	status-bar-color:"#4cbae3";
}
 
input{
 	font-family:"Roboto-Regular.ttf";
 	font-size:"19";
 	forecolor:"White 79%";
}

inputtitle{

}
  
InputReadOnly{
	
}  

button{

}
  
grid{
	
}  

gridRow{
	
}

gridRowEven{
	
}

gridRowOdd{
	
}

horizontalLine{
	
}

image{
	
}

label{
	
}

sdPageController{
	
}

tab{
	
}

tabPage{
	
}

tabPageSelected{
	
}

tabPageUnSelected{
	
}


table{
 	background-color:"#000000";
}