/** 
 * Style for Android application.
 * @version 1.0
 */

application{
	action-tint-color: "#FFFFFF";
}
 
applicationBars{
	background-color:"#32a3cb";
	status-bar-color:"#4cbae3";
	forecolor: "#FFFFFF";
	
}
 
input{
	font-family:"Roboto-Regular.ttf";
	font-size:"24";
	forecolor:"Black 79%";
	label-class:"label.blue";
}

inputtitle{

}
  
InputReadOnly{
	
}  

button{

}

button.blue{
	background-color:"#32a3cb";
	font-weight:"bold";
	forecolor:"#FFFFFF";	
	margin-top:15dip;
	margin-left:8dip;
	margin-right:8dip;
	margin-bottom:0dip;
}
  
grid{
	
}  

gridRow{
	
}

gridRowEven{
	
}

gridRowOdd{
	
}

horizontalLine{
	
}

image{
	
}

label{
	
}

label.blue {	
	forecolor:"#32a3cb";
	font-size:"24";	
}

sdPageController{
	
}

tab{
	
}

tabPage{
	
}

tabPageSelected{
	
}

tabPageUnSelected{
	
}

table{
 	background-color: "#FFFFFF";
}
table.aux{
	margin-top: 15dip;
}
